#aside_admin {
    background-image: linear-gradient(hwb(209.91deg 22.46% 56.22% / 89%),#1a4169), url(../images/pexels-eva-bronzini-6165031.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}