#aside_admin {
    background-image: linear-gradient(#265484, hwb(209.5 22.4% 56.1% / 0.65)), url(../images/pexels-wendy-wei-1656663.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}